
 @import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dde3f4;
}

.container {
  background-color: #263932;
  width: 50%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 15px 15px 20px #5b5b5ba5;
  border-radius: 50px 0px 50px 0px;
}

.container button {
  margin: 0 16px;
  font-size: 1.5em;
  padding: 5px 12px;
  cursor: pointer;
  font-weight: 500;
  border: none;
  outline: none;
  text-transform: uppercase;
  border-radius: 5px;
  
}

#start {
  background-color: green;
  color: white;
}

#stop {
  background-color: red;
  color: white;
}

#reset {
  background-color: blue;
  color: white;
}


.container h2 {
  color: white;
  font-size: 2em;
  letter-spacing: 5px;
  text-transform: uppercase;
  
}

.container h1 {
  font-size: 3em;
  margin: 1em 0;
  color: white;
}

.container h1 {
  font-size: 4em;
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
  /* letter-spacing: 5px; */
}
